@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;
  --color-black: #111111;
  --color-forest: #1C3A2E;
  --color-beige: #F5F1EB;
  --color-light-gray: #EAEAEA;
  --color-dark-gray: #2B2B2B;

  --font-serif: var(--font-playfair);
  --font-sans: var(--font-montserrat);
}

@layer base {
  body {
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-sans);
  }
}

html {
  scroll-behavior: smooth;
}
